$blu: #1ABAE9
$pin: #E2AFA4
$gre: #DAF7A6 
$yel: #FFC300
$ora: #FF5733 
$red: #c70039
$gra: #374b52


html
    background-color: $gre

body
    input
        font-color: $red
        background-color: $pin
    // background-color: $blu