<!DOCTYPE html>
<html>

<body>
  <div id="particles-js">
      <div class="h-75 bg header">
          <img src="../../assets/images/logo.png" alt="logo">
          <div id="particles-js" class="w-100 header-particles">
            <h1 class="cover-heading"><p color="white">Please enter a website to check the bias on.</p></h1>
          </div>
      
          <script src="search-page.component.ts"></script>
      
          <nav class="navbar " id="url_box">
            <form class="form-inline">
              <input class="form-control-lg input-lg" type="text" placeholder="Website URL" id="url" aria-label="Bias Check">
              <button class="btn btn-outline-success my-2 my-sm-0" (click)="getWebsiteURL()" type="submit">Bias Check</button>
            </form>
          </nav>
      </div>
  </div>
</body>

</html>