$blu: #1ABAE9
$pin: #E2AFA4
$gre: #DAF7A6 
$yel: #FFC300
$ora: #FF5733 
$red: #c70039
$gra: #374b52
$lightgra: #FDE9E9


html
    background-color: $gre
    margin: 0
    height: 100%

.cover 
    padding: 0 20px

.site-wrapper-inner 
    vertical-align: middle

#url_box
    margin: auto
    max-width: 1000px

body
    background: linear-gradient(to bottom, $ora, $lightgra)
    padding: 15vh
    height: 100vh
    text-align: center
    input
        height: 100%    
        background-color: $pin
