$blu: #1ABAE9
$pin: #E2AFA4
$gre: #DAF7A6 
$yel: #FFC300
$ora: #FF5733 
$red: #c70039
$gra: #374b52
$lightgra: #FDE9E9
body
    background: linear-gradient(to bottom, $ora, $lightgra)
    margin: auto
    max-width: 100%
    padding: 15vh
    height: 60vh
    #gauge
        text-align: center
        vertical-align: middle